/.idea/
/hw3/cmake-debug/.cmake/api/v1/reply/
/hw3/cmake-debug/hw3/CMakeFiles/
/hw3/cmake-debug/hw3/h3/
/hw3/cmake-debug/hw3/socket_wrapper/
/hw3/cmake-debug/hw3/cmake_install.cmake
/hw3/cmake-debug/hw3/Makefile
/hw3/cmake-debug/
